[libdefaults]
  default_realm = CSCLOUD.COM
  default_tkt_enctypes = aes256-cts aes128-cts des3-hmac-sha1 arcfour-hmac camellia256-cts camellia128-cts des-hmac-sha1 des-cbc-md5 des-cbc-crc
  default_tgs_enctypes = aes256-cts aes128-cts des3-hmac-sha1 arcfour-hmac camellia256-cts camellia128-cts des-hmac-sha1 des-cbc-md5 des-cbc-crc
  dns_lookup_kdc = false
  dns_lookup_realm = false
  ticket_lifetime = 1d

[realms]
CSCLOUD.COM={
   kdc=CSCLOUD.COM
   admin_server=CSCLOUD.COM
   default_domain=CSCLOUD.COM
}

[domain_realm]
cscloud.com=CSCLOUD.COM
.cscloud.com=CSCLOUD.COM
